<template>
  <md-dialog :md-active.sync="showStats">
    <md-dialog-title>Estadisticas</md-dialog-title>
    <md-content>
      <p
        v-for="(elem,index) in juegos"
        :key="index"
      >Nombre: {{elem.Jugador}}|Tiempo: {{elem.Tiempo}}|Movimientos: {{elem.Movimientos}}</p>
    </md-content>
    <md-dialog-actions>
      <md-button class="md-primary" @click="close">Cerrar</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
export default {
  props: {
    showStats: Boolean
  },
  methods: {
    close() {
      this.$emit("closed", false);
    }
  },
  data: () => ({
    juegos: JSON.parse(localStorage.games)
  })
};
</script>>

<style lang="css" scoped>
p {
  text-align: center;
}
</style>