<template>
  <md-dialog :md-active.sync="showDialog">
    <md-dialog-title>Resultados</md-dialog-title>
    <md-content>
      <p>Felicidades!!!</p>
      <p>{{name}}</p>
      <p>Movimientos: {{intentos}}</p>
      <p>Tiempo: {{time}}</p>
    </md-content>
    <md-dialog-actions>
      <md-button class="md-primary" @click="close">Close</md-button>
    </md-dialog-actions>
  </md-dialog>
</template>

<script>
export default {
  props: {
    showDialog: Boolean,
    name: String,
    intentos: Number,
    time: String
  },
  methods: {
    close() {
      this.$emit("closed", false);
    }
  }
};
</script>>

<style lang="css" scoped>
p {
  text-align: center;
}
</style>