<template>
  <div class="section">
    <p>
      Tiempo: {{this.time}}
      <span class="espacio"></span>
      Intentos {{intentos}}
    </p>
    <Letrero
      v-on:closed="close"
      :showDialog="showDialog"
      :name="name"
      :intentos="intentos"
      :time="time"
    ></Letrero>
    <div class="columns">
      <div ref="tabla" class="column is-narrow yesClick">
        <table class="table">
          <tr v-for="index in height" :key="index">
            <td v-for="index1 in width" :key="index1">
              <img
                class="image isBlack is-64x64"
                @click="setOP"
                :src="matrix[index-1][index1-1]"
                alt
              />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Letrero from "./Letrero";
export default {
  components: {
    Letrero
  },
  name: "Tablero",
  props: {
    height: Number,
    width: Number,
    matrix: Array,
    name: String
  },
  data() {
    return {
      First: undefined,
      Second: undefined,
      pairs: 0,
      intentos: 0,
      showDialog: false,
      seconds: 0,
      time: "",
      started: false
    };
  },
  methods: {
    setOP(event) {
      if (this.intentos === 0) {
        this.startTime();
        this.started = true;
      }
      if (this.First === undefined) {
        this.First = event.target;
        this.First.className = this.First.className.replace(
          "isBlack",
          "isChoosed notClick"
        );
      } else {
        if (this.Second === undefined) {
          this.Second = event.target;
          this.Second.className = this.Second.className.replace(
            "isBlack",
            "isChoosed notClick"
          );
          this.intentos++;
        }
        if (this.First !== undefined && this.Second !== undefined) {
          if (this.First.src === this.Second.src) {
            this.First.className = this.First.className + " notClick";
            this.Second.className = this.Second.className + " notClick";
            this.First = undefined;
            this.Second = undefined;
            this.pairs++;
            if (this.pairs == (this.height * this.width) / 2) {
              this.started = false;
              this.showDialog = true;
            }
          } else {
            this.$refs.tabla.className = this.$refs.tabla.className.replace(
              "yesClick",
              "notClick"
            );
            setTimeout(() => {
              this.First.className = this.First.className.replace(
                "isChoosed notClick",
                "isBlack"
              );
              this.Second.className = this.Second.className.replace(
                "isChoosed notClick",
                "isBlack"
              );
              this.First = undefined;
              this.Second = undefined;
              this.$refs.tabla.className = this.$refs.tabla.className.replace(
                "notClick",
                "yesClick"
              );
            }, 1000);
          }
        }
      }
    },
    solve() {
      var a = this.$el.querySelectorAll(".isBlack");
      for (var e of a) {
        e.className = e.className.replace("isBlack", "isGood");
      }
    },
    async startTime() {
      setTimeout(() => {
        this.time = parseInt(this.seconds / 60) + ":" + (this.seconds % 60);
        this.seconds++;
        if (this.started) {
          this.startTime();
        }
      }, 1000);
    },
    close() {
      this.showDialog = !this.showDialog;
    },
    closeStats() {
      this.showStats = !this.showStats;
    },
    saveGame() {
      if (localStorage.games === undefined) {
        localStorage.games = [];
      }
      var newjuego = {
        Jugador: this.name,
        Tiempo: this.time,
        Movimientos: this.intentos,
        Estado: () => {
          if (this.pairs == parseInt((this.height * this.width) / 2)) {
            return true;
          }
          return false;
        }
      };
      if (localStorage.getItem("games") !== "") {
        console.log("AQUI1");
        var arr = JSON.parse(localStorage.getItem("games"));
        localStorage.removeItem("games");
        arr.push(newjuego);
        localStorage.setItem("games", JSON.stringify(arr));
      } else {
        console.log("AQUI2");
        localStorage.setItem("games", JSON.stringify([newjuego]));
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.table {
  margin-left: auto;
  margin-right: auto;
}
@import url("../../node_modules/bulma/css/bulma.min.css");
.borde {
  border-style: solid;
}
.isGood {
  background-color: #5edfff;
}
.isChoosed {
  filter: brightness(100%);
}
.isBlack {
  background-color: black;
  filter: brightness(0%);
}
.notClick {
  pointer-events: none;
}
.yesClick {
  pointer-events: all;
}
.espacio {
  display: inline-block;
  width: 80px;
}
</style>