height: 100%;<template>
  <div class="md-layout-column">
    <md-toolbar class="md-primary">
      <md-button class="md-icon-button" @click="showNavigation = true">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-title">{{nombre}}</span>
    </md-toolbar>
    <md-drawer :md-active.sync="showNavigation" md-swipeable>
      <md-list>
        <md-list-item @click="init">
          <md-icon>move_to_inbox</md-icon>
          <span class="md-list-item-text">Inicio</span>
        </md-list-item>
        <md-list-item v-if="jugando===true">
          <md-icon>highlight_off</md-icon>
          <span @click="endGame" class="md-list-item-text">Terminar juego</span>
        </md-list-item>
        <md-list-item v-if="jugando===true">
          <md-icon>check_circle</md-icon>
          <span @click="solve" class="md-list-item-text">Solucion</span>
        </md-list-item>
      </md-list>
    </md-drawer>
    <md-content v-if="jugando===false">
      <md-field v-if="nombreSet===false">
        <label>Nombre</label>
        <md-input v-model="nombreAux"></md-input>
      </md-field>
      <md-button
        v-if="nombreSet===false"
        class="md-raised md-primary"
        @click="setNombre"
      >Iniciar juego</md-button>
      <md-field v-if="nombreSet===true">
        <label for="tipo">Tematica</label>
        <md-select v-model="tematica" name="tipo" id="movie">
          <md-option value="Bob">Bob esponja</md-option>
          <md-option value="Gears">Gears of war</md-option>
          <md-option value="Halo">Halo</md-option>
        </md-select>
      </md-field>
      <md-field v-if="nombreSet===true">
        <label for="tipo">Tipo de juego</label>
        <md-select v-model="tipo" name="tipo" id="movie">
          <md-option value="0">4x4</md-option>
          <md-option value="1">4x5</md-option>
        </md-select>
      </md-field>
      <md-button v-if="nombreSet===true" class="md-raised md-primary" @click="Iniciar">Iniciar juego</md-button>
    </md-content>
    <Tablero ref="tab" :matrix="arr" :width="w" :height="h" v-else></Tablero>
  </div>
</template>

<script>
import Tablero from "./components/Tablero.vue";
export default {
  name: "Temporary",
  components: {
    Tablero
  },
  data: () => ({
    showNavigation: false,
    nombre: "",
    jugando: false,
    h: 0,
    w: 0,
    tipo: 0,
    arr: [],
    nombreSet: false,
    nombreAux: "",
    tematica: ""
  }),
  methods: {
    Iniciar() {
      if (this.tipo === 0) {
        this.h = 4;
        this.w = 4;
      } else {
        this.h = 4;
        this.w = 5;
      }
      this.shuffle();
      this.jugando = true;
    },
    init() {
      this.jugando = false;
      this.showNavigation = !this.showNavigation;
    },
    solve() {
      this.$refs.tab.solve();
      this.showNavigation = !this.showNavigation;
    },
    shuffle() {
      this.arr = [];
      var index = 0;
      for (var i = 0; i < this.h; i++) {
        this.arr.push([]);
        for (var o = 0; o < this.w; o++) {
          this.arr[i].push();
          if (index < this.h * this.w) {
            if (this.h === this.w) {
              this.arr[i][o] =
                "/images/" + this.tematica + "/" + (index % 8) + ".png";
            } else {
              this.arr[i][o] =
                "/images/" + this.tematica + "/" + (index % 10) + ".png";
            }
            index++;
          }
        }
      }
      for (var a of this.arr) {
        a.sort(() => Math.random() - 0.5);
      }
      this.arr.sort(() => Math.random() - 0.5);
    },
    setNombre() {
      if (this.nombreAux !== "" && this.nombreAux.length > 0) {
        this.nombre = this.nombreAux;
        this.nombreSet = true;
      }
    },
    endGame() {
      this.jugando = false;
      this.showNavigation = !this.showNavigation;
    }
  }
};
</script>

<style lang="scss" scoped>
.page-container {
  min-height: 300px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(#000, 0.12);
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.md-content {
  padding: 16px;
}
</style>
